@import "tailwindcss";

html.dark {
  color-scheme: dark;
}

html.dark .dark\:bg-gray-800 {
  background-color: rgb(31 41 55);
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

html.dark .dark\:border-gray-700 {
  border-color: rgb(55 65 81);
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}

html.dark .dark\:text-white {
  color: rgb(255 255 255);
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

html.dark .dark\:bg-gray-700 {
  background-color: rgb(55 65 81);
}

html.dark .dark\:peer-focus\:ring-blue-800:focus {
  --tw-ring-color: rgb(30 58 138);
}